html {
    height: 100%;
}

body {
    font-family: "Roboto Light", serif;
    /*height: 100%;*/
    /*background: rgb(251,246,217);*/
}

a{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-decoration:none;
    height: 40px;
    color: black;
    padding-right: 30px;
}
div{
    font-family: "HoloLens MDL2 Assets";
}


.bridges {
    background: white;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}


.mid {
    position: absolute;
    height: 100%;
    width: 100%;
}

.mid_left {
    width: 13%;
    height: 100%;
    left: 5%;
    position: absolute;
}

.mid_right {
    width: 13%;
    height: 100%;
    position: absolute;
    right: 2.5%;
}

.mid_center {
    width: 65%;
    position: absolute;
    left: 17.5%;
    height: 100%;
    /*background: aqua;*/
}


.search {
    position: absolute;
}


.logo{
    padding-left: 10px;
    padding-top: 10px;

}

.top_left {
    position: absolute;
    left: 10%;
    width: 30%;
    top: 25px;
}

.top_right {
    top: 40px;
    position: absolute;
    right: 1%;
}

.top_right a {
    padding-right: 40px;
}

.login {
    width: 30px;
}

.report{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #BCB9B9;
    color: white;
    font-size: 17px;
    border-radius:20px 20px 20px 20px;
    text-align: center;
}

.state{
    /*background: aqua;*/
    width: 100%;
    height: 100px;
}

.choice{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    font-size: 25px;
    right: 10%;
    top: 140px;
    position: absolute;
    height: 100%;
}
.now_state{
    position: absolute;
    height: 100%;
    top: 150px;
    left: 5%;
    font-size: 40px;
}

.row{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 300px;
    /*background: darkred;*/
    border-radius:20px 20px 20px 20px;
    overflow: hidden;
    border: #BCB9B9 2px solid;
    margin:0px 0px 20px 0px
}

.row_img{
    position: absolute;
    height: 280px;
    width: 25%;
    padding-left: 0px;
}



.picture{
    top: 50px;
    width: 100%;
    position: absolute;
}

.row_detail{
    position: absolute;
    left: 23%;
    height: 280px;
    width: 60%;
    /*background: darkred;*/
    padding-left: 0px;
}
.title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 23px;
    word-wrap:break-word;
}

.complexity{
    font-size: 5px;
}

.detail{

    height: 180px;
    font-size: 15px;
    word-wrap:break-word;
    overflow: hidden;
}

.target{
    top: 250px;
    width: 100%;
    height: 40px;
}

.task{
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:5px 20px 20px 20px;
    overflow: hidden;
    border: #BCB9B9 0.5px solid;
    margin:4px 4px 20px 4px;
    font-size: 14px;
}

.row_performance{
    position: absolute;
    left: 85%;
    height: 280px;
    width: 13%;
    margin:0;
    padding:0;
}



.path{
    position:absolute;
    top: 100px;
}

.github{
    background: #1f6bcd;
    color: white;
    font-size: 17px;
    text-align: center;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius:13px 13px 13px 13px;
    overflow: hidden;
    border: rgb(210,210,210) 3px solid;
    margin:4px 4px 20px 4px
}
.paper{
    height: 50px;
    background: #1ab37c;
    color: white;
    font-size: 17px;
    text-align: center;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius:13px 13px 13px 13px;
    overflow: hidden;
    border: rgb(236,216,192) 3px solid;
    margin:4px 4px 20px 4px
}
.pdiv{
    height: 30px;

    width: 100px;
    position: absolute;
    top: 100px;
}
.gdiv{

    height: 30px;
    width: 100px;
    position: absolute;
    top: 170px;
}

.direction a{
    display: block;
    left: 30%;
}

#NLP{
    display: none;
}
#NLP a{
    display: block;
    left: 30%;
}

#CV{
    display: none;
}
#CV a{
    display: block;
    left: 30%;
}
#Medical{
    display: none;
}
#Medical a{
    display: block;
    left: 30%;
}
#CV a{
    display: block;
    left: 30%;
}
#robot{
    display: none;
}
#robot a{
    display: block;
    left: 30%;
}
#RL{
    display: none;
}
#RL a{
    display: block;
    left: 30%;
}


