#login{
    position: absolute;
    width: 50%;
    height: 1000px;
    left: 25%;
    font-weight: lighter;
}

.title h2{
    /*text-align: center;*/
    font-weight: lighter;
}

.supp{
    font-size: 30px;
    font-weight: lighter;
}
input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input{  outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 95%;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}
:root {
    --height: 100px;
    --width: 200px;
}

.button {
    position: relative;
    /*width: 100px;*/
    height: calc(0.7 * var(--height));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}
.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}
.button span {
    color: #fff;
    font-size: 1rem;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button._1 {
    background: #2980b9;
}
.button._2 {
    background: #8e44ad;
}

.button .back {
    position: absolute;
    width: 0;
    height: 0;
    filter: url(#filter);
    border-radius: 50%;
    z-index: 5;
    transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
}
.button._1 .back {
    left: -50%;
    top: -50%;
    background: #27ae60;
}
.button._2 .back {
    right: -50%;
    top: -50%;
    background: #c0392b;
}

.button:hover .back {
    width: calc(2 * var(--width));
    height: calc(2 * var(--height));
}

@media only screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }

    .button {
        margin: 0.8rem 0;
    }
}



